

<div class="form-control-lg border border-primary shadow-lg px-5 py-3 m-4 bg-body rounded">
    <form>
        <div class="d-flex justify-content-center pt-1 mb-3 text-light bg-primary bg-gradient fs-4 rounded-pill ">
            <label>Title:</label>
        </div>
    <div class=" justify-content-center pt-1 mb-3">
        <input type="text" placeholder="Type your title here..." class=" form-control">
    </div>
    <div class="d-flex justify-content-center pt-1 mb-3 text-light bg-primary bg-gradient fs-4 rounded-pill ">
        <label>Body:</label>
    </div>
    <div class="d-flex justify-content-center pt-1 mb-3">
        <textarea class=" form-control" name="body" cols="30" rows="10" placeholder="Type your content here..."></textarea>
    </div>
    <div class="d-flex justify-content-center pt-1 mb-3">
        <button type="submit" class="d-flex justify-content-center pt-1 mb-3 text-light bg-primary bg-gradient fs-4 rounded-pill">
            Add new post
        </button>
    </div>
    </form>
</div>

